@tailwind base;
@tailwind components;
@tailwind utilities;

/**HEADER CSS*/
.header-container {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.2);
}


/**LOGIN PAGE CSS*/
.login-container-hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 500px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 750px;
  width: 500px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.email-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

/** VERIFY OTP PAGE */
.verify-otp-container {
  border: 1px solid rgb(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.otp-container-box {
  padding: 50px;
  height: 600px;
  width: 400px;
  border: 1px solid rgb(0,0,0,0.3);
}

.left-dash-container {
  margin-left: 100px;
  border-right: 1px solid rgb(0,0,0,0.3);
}

.job-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #000;
  padding: 20px;
  margin-right: 40px;
  margin-top: 30px;
  width: 300px;
  height: 300px;
}

.job-cards-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 30px;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.round-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.job-button {
  padding: 8px 16px;
  margin: 4px;
  background-color: #4CAF50;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.job-button:hover {
  background-color: #45a049;
}

.profile-img {
  border-radius: 20px;
  height: 50px;
  width: 50px;
  margin-right: 40px;
  cursor: pointer;
}
